<div class="row  m-1 justify-content-center align-items-center">
    <div class="col-12 col-md-9 border border-dark pt-2 pb-2">
        <div class="row align-items-center justify-content-center">
            <div class="col-4  text-center text-md-end">
                <span>NOME: </span>
            </div>
            <div class="col text-center text-md-start">
                <span>
                    <%= visitor[0]['VIS_NOME'] %>
                </span>
            </div>
        </div>

        <div class="row my-2 align-items-center justify-content-center border-bottom">
            <div class="col-4 col-md-4  text-center text-md-end">
                <span>STATUS: </span>
            </div>
            <div class="col   text-center text-md-start">
                <span>
                    <%= visitor[0]['VIS_BLOQUEADO'] %>
                </span>
            </div>
        </div>

        <div class="row my-2 align-items-center justify-content-center">
            <div class="col-4 col-md-4  text-center text-md-end">
                <span>REEDUCANDO: </span>
            </div>
            <div class="col   text-center text-md-start">
                <span>
                    <%= visitor[0]['DET_NOME'] %>
                </span>
            </div>
        </div>

        <div class="row my-2 align-items-center justify-content-center">
            <div class="col-4 col-md-4  text-center text-md-end">
                <span>MATRÍCULA: </span>
            </div>
            <div class="col   text-center text-md-start">
                <span>
                    <%= visitor[0]['DET_MATRICULA'] %>
                </span>
            </div>
        </div>

        <div class="row my-2 align-items-center justify-content-center">
            <div class="col-4 col-md-4  text-center text-md-end">
                <span>LOCALIZACAO: </span>
            </div>
            <div class="col   text-center text-md-start">
                <span>PAVILHÃO <%=visitor[0]['INC_RAIO']%> -
                        CELA <%=visitor[0]['INC_CELA']%></span>
            </div>
        </div>

    </div>
    <div class="col-12 col-md-9 border border-dark pt-2 pb-2 mt-1 mb-2">
        <p>
            <%=visitor[0]['VIS_OBS_DISPONIVEL']%>
        </p>
    </div>
</div>

