<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('base/head') %>

</head>

<body>
<%- include('base/header'); %>
<%- include('base/navbar'); %>

<div class="container">
    <% if (locals.visitor) { %>
        <%- include('consulta'); %>
    <% } %>


</div>

<%- include('base/footer'); %>
</body>

</html>
