<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('base/head') %>

</head>

<body>
<%- include('base/header'); %>
<%- include('base/navbar'); %>

<div class="container">
    <% if (locals.visitor) { %>
        <%- include('consulta'); %>
    <% } %>

    <% if (locals.valepostal) { %>
        <%- include('pages/valepostal'); %>
    <% } %>

    <% if (locals.advogado) { %>
        <%- include('pages/advogado'); %>
    <% } %>

    <% if (locals.oficial) { %>
        <%- include('pages/oficial'); %>
    <% } %>

    <% if (locals.vestuario) { %>
        <%- include('pages/vestuario'); %>
    <% } %>

    <% if (locals.sedex) { %>
        <%- include('pages/sedex'); %>
    <% } %>

    <% if (locals.home) { %>
        <%- include('pages/roldevisitas'); %>
    <% } %>
    

</div>

<%- include('base/footer'); %>
</body>

</html>
