<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('base/head') %>
</head>

<body>
    <%- include('base/header') %>
        <div class="container">
            <div class="row mb-5">
                <div class="col-auto  mt-2">
                    <%- include('base/menu') %>
                </div>

                <div class="col mt-2 ">
                    <div class="row align-items-center justify-content-center">
                        <div class="col text-center">
                            <h5>Consultar status da carteirinha.
                            </h5>
                        </div>
                    </div>
                    <div class="row align-items-center justify-content-center">
                        <div class="col-auto p-1">
                            <label for="inputPassword6" class="col-form-label">Informe seu CPF</label>
                        </div>
                        <div class="col-auto p-1">
                            <input type="number" id="inputPassword6" class="form-control"
                                aria-describedby="passwordHelpInline">
                        </div>
                        <div class="col-auto p-1">
                            <button class="btn btn-info" type="button">Consultar</button>
                        </div>
                    </div>

                    <%- include('consulta') %>

                </div>
            </div>

        </div>
        <%- include('base/footer') %>
</body>

</html>
