<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <%- include('../base/head'); %>
</head>

<body>
    <%- include('../base/header'); %>
        <div class="container">
            <div class="row border justify-content-center align-items-center ">
                <div class="col">
                    <span class="">471a4b98-9364-4298-84d1-384f59df96c1</span>
                </div>
                <div class="col align-middle text-end p-0">
                    <a class="btn btn-sm btn-danger " href="/user/logout" role="button">logout</a>
                </div>
            </div>
            <div class="row mb-5 pb-5 mt-2">

                <div class="col col-sm-auto ">
                    <%- include('admmenu') %>
                </div>

                <div class="col border">
                    <!--CONTENT-->
                    <div class="row mb-5 text-center">
                        <div class="col border m-2 p-3 bg-success bg-gradient">
                            <h3 class="text-white">ATIVOS</h3>
                            <h3><span class="badge bg-dark"><%=ativos[0]['count']%></span></h3>
                        </div>
                        <div class="col border m-2 p-3 bg-warning bg-gradient">
                            <h3 class="text-white">PENDENTES</h3>
                            <h3><span class="badge bg-dark"><%=pendentes[0]['count']%></span></h3>
                        </div>
                        <div class="col border m-2 p-3 bg-primary bg-gradient">
                            <h3 class="text-white">CONSULTAS</h3>
                            <h3><span class="badge bg-dark">444</span></h3>
                        </div>
                    </div>

                    <!--  SINGLE FILE -->
                    <form action="/user/admin/upload" enctype="multipart/form-data" method="POST">
                        <input type="file" name="file" />
                        <input type="submit" value="Upload a file" />
                    </form>
                </div>
            </div>

            <!--END CONTENT-->

        </div>

        <%- include('../base/footer'); %>
            <!--FOOTER-->
</body>

</html>
