<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <%- include('../base/head'); %>
</head>

<body>
    <%- include('../base/header'); %>
        <div class="container">
            <div class="row border justify-content-center align-items-center ">
                <div class="col">
                    <span class="">471a4b98-9364-4298-84d1-384f59df96c1</span>
                </div>
                <div class="col align-middle text-end p-0">
                    <a class="btn btn-sm btn-danger " href="/user/logout" role="button">logout</a>
                </div>
            </div>
            <div class="row mb-5 pb-5 mt-2">

                <div class="col col-sm-auto ">
                    <%- include('admmenu') %>
                </div>

                <div class="col border">
                    <!--CONTENT-->
                    <div class="row mb-5 text-center">
                        <div class="col border m-2 p-3 bg-success bg-gradient">
                            <h3 class="text-white">ATIVOS</h3>
                            <h3><span class="badge bg-dark"><%=ativos[0]['count']%></span></h3>
                        </div>
                        <div class="col border m-2 p-3 bg-warning bg-gradient">
                            <h3 class="text-white">PENDENTES</h3>
                            <h3><span class="badge bg-dark"><%=pendentes[0]['count']%></span></h3>
                        </div>
                        <div class="col border m-2 p-3 bg-primary bg-gradient">
                            <h3 class="text-white">CONSULTAS</h3>
                            <h3><span class="badge bg-dark"><%=consultado[0]['sum']%></span></h3>
                        </div>
                    </div>

                    <% if(locals.delmessage.length > 0) { %>
                        <div class="row">
                            <div class="col">
                                <div class="alert alert-warning">
                                    <%= delmessage%>
                                </div>
                            </div>
                        </div>
                    <% } %>

                    <!--  SINGLE FILE -->
                    <div class="row border-top ">
                        <div class="col mt-3">
                            <h2>Upload</h2>
                            <h4>Selecione o arquivo excel a ser carregado</h4>
                            <p>Apenas com extensão: '.xlxs'</p>
                        </div>
                        <div class="col-12 py-3">
                            <form action="/user/admin/upload" enctype="multipart/form-data" method="POST">
                                <div class="mb-3">
                                    <input class="form-control" type="file" name="file" />
                                </div>
                                <input class="btn btn-primary" type="submit" value="Carregar" />
                            </form>
                        </div>
                    </div>

                    <% if(locals.uploadmessage.length > 0) {%>
                        <div class="row mt-4">
                            <div class="col">
                                <div class="alert alert-success">
                                    <%=uploadmessage%>
                                </div>
                            </div>
                        </div>
                    <%}%>
                </div>
            </div>

            <!--END CONTENT-->

        </div>

        <%- include('../base/footer'); %>
            <!--FOOTER-->
</body>

</html>
